<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stockItemHoldings">
            <h2><span jhiTranslate="gatewayApp.vscommerceStockItemHoldings.detail.title">Stock Item Holdings</span> {{ stockItemHoldings.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.vscommerceStockItemHoldings.quantityOnHand">Quantity On Hand</span></dt>
                <dd>
                    <span>{{ stockItemHoldings.quantityOnHand }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceStockItemHoldings.binLocation">Bin Location</span></dt>
                <dd>
                    <span>{{ stockItemHoldings.binLocation }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceStockItemHoldings.lastStockTakeQuantity">Last Stock Take Quantity</span></dt>
                <dd>
                    <span>{{ stockItemHoldings.lastStockTakeQuantity }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceStockItemHoldings.lastCostPrice">Last Cost Price</span></dt>
                <dd>
                    <span>{{ stockItemHoldings.lastCostPrice }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceStockItemHoldings.reorderLevel">Reorder Level</span></dt>
                <dd>
                    <span>{{ stockItemHoldings.reorderLevel }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceStockItemHoldings.targerStockLevel">Targer Stock Level</span></dt>
                <dd>
                    <span>{{ stockItemHoldings.targerStockLevel }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceStockItemHoldings.lastEditedBy">Last Edited By</span></dt>
                <dd>
                    <span>{{ stockItemHoldings.lastEditedBy }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceStockItemHoldings.lastEditedWhen">Last Edited When</span></dt>
                <dd>
                    <span>{{ stockItemHoldings.lastEditedWhen }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceStockItemHoldings.stockItem">Stock Item</span></dt>
                <dd>
                    <div *ngIf="stockItemHoldings.stockItemId">
                        <a [routerLink]="['/stock-items', stockItemHoldings.stockItemId, 'view']">{{ stockItemHoldings.stockItemId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock-item-holdings', stockItemHoldings.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
