<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceProductCategory.home.title">Product Categories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-category" [routerLink]="['/product-category/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceProductCategory.home.createLabel">
            Create a new Product Category
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productCategories?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceProductCategory.home.notFound">No productCategories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productCategories && productCategories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceProductCategory.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceProductCategory.shortLabel">Short Label</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceProductCategory.sortOrder">Sort Order</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceProductCategory.iconFont">Icon Font</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceProductCategory.justForYouInd">Just For You Ind</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceProductCategory.showInNavInd">Show In Nav Ind</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceProductCategory.activeInd">Active Ind</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceProductCategory.parent">Parent</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceProductCategory.icon">Icon</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productCategory of productCategories ;trackBy: trackId">
                    <td><a [routerLink]="['/product-category', productCategory.id, 'view']">{{ productCategory.id }}</a></td>
                    <td>{{ productCategory.name }}</td>
                    <td>{{ productCategory.shortLabel }}</td>
                    <td>{{ productCategory.sortOrder }}</td>
                    <td>{{ productCategory.iconFont }}</td>
                    <td>{{ productCategory.justForYouInd }}</td>
                    <td>{{ productCategory.showInNavInd }}</td>
                    <td>{{ productCategory.activeInd }}</td>
                    <td>
                        <div *ngIf="productCategory.parentId">
                            <a [routerLink]="['/product-category', productCategory.parentId , 'view']" >{{ productCategory.parentName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="productCategory.iconId">
                            <a [routerLink]="['/photos', productCategory.iconId , 'view']" >{{ productCategory.iconThumbnailUrl }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-category', productCategory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product-category', productCategory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productCategory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
