<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wishlistLines">
            <h2><span jhiTranslate="gatewayApp.vscommerceWishlistLines.detail.title">Wishlist Lines</span> {{ wishlistLines.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.vscommerceWishlistLines.stockItem">Stock Item</span></dt>
                <dd>
                    <div *ngIf="wishlistLines.stockItemId">
                        <a [routerLink]="['/stock-items', wishlistLines.stockItemId, 'view']">{{ wishlistLines.stockItemName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceWishlistLines.wishlist">Wishlist</span></dt>
                <dd>
                    <div *ngIf="wishlistLines.wishlistId">
                        <a [routerLink]="['/wishlists', wishlistLines.wishlistId, 'view']">{{ wishlistLines.wishlistId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wishlist-lines', wishlistLines.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
