<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trackingEvent">
            <h2><span jhiTranslate="gatewayApp.vscommerceTrackingEvent.detail.title">Tracking Event</span> {{ trackingEvent.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.vscommerceTrackingEvent.name">Name</span></dt>
                <dd>
                    <span>{{ trackingEvent.name }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tracking-event', trackingEvent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
