<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceReviewLines.home.title">Review Lines</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-review-lines" [routerLink]="['/review-lines/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceReviewLines.home.createLabel">
            Create a new Review Lines
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reviewLines?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceReviewLines.home.notFound">No reviewLines found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reviewLines && reviewLines.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReviewLines.stockItemRating">Stock Item Rating</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReviewLines.stockItemReview">Stock Item Review</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReviewLines.lastEditedBy">Last Edited By</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReviewLines.lastEditedWhen">Last Edited When</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReviewLines.reviewImage">Review Image</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReviewLines.review">Review</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reviewLines of reviewLines ;trackBy: trackId">
                    <td><a [routerLink]="['/review-lines', reviewLines.id, 'view']">{{ reviewLines.id }}</a></td>
                    <td>{{ reviewLines.stockItemRating }}</td>
                    <td>{{ reviewLines.stockItemReview }}</td>
                    <td>{{ reviewLines.lastEditedBy }}</td>
                    <td>{{ reviewLines.lastEditedWhen | date:'medium' }}</td>
                    <td>
                        <div *ngIf="reviewLines.reviewImageId">
                            <a [routerLink]="['/photos', reviewLines.reviewImageId , 'view']" >{{ reviewLines.reviewImageThumbnailUrl }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="reviewLines.reviewId">
                            <a [routerLink]="['/reviews', reviewLines.reviewId , 'view']" >{{ reviewLines.reviewId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/review-lines', reviewLines.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/review-lines', reviewLines.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(reviewLines)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
