<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceSupplierTransactionStatus.home.title">Supplier Transaction Statuses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supplier-transaction-status" [routerLink]="['/supplier-transaction-status/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceSupplierTransactionStatus.home.createLabel">
            Create a new Supplier Transaction Status
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="supplierTransactionStatuses?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceSupplierTransactionStatus.home.notFound">No supplierTransactionStatuses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="supplierTransactionStatuses && supplierTransactionStatuses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSupplierTransactionStatus.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSupplierTransactionStatus.label">Label</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSupplierTransactionStatus.shortLabel">Short Label</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSupplierTransactionStatus.lastEditedBy">Last Edited By</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSupplierTransactionStatus.lastEditedWhen">Last Edited When</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supplierTransactionStatus of supplierTransactionStatuses ;trackBy: trackId">
                    <td><a [routerLink]="['/supplier-transaction-status', supplierTransactionStatus.id, 'view']">{{ supplierTransactionStatus.id }}</a></td>
                    <td>{{ supplierTransactionStatus.name }}</td>
                    <td>{{ supplierTransactionStatus.label }}</td>
                    <td>{{ supplierTransactionStatus.shortLabel }}</td>
                    <td>{{ supplierTransactionStatus.lastEditedBy }}</td>
                    <td>{{ supplierTransactionStatus.lastEditedWhen | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/supplier-transaction-status', supplierTransactionStatus.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/supplier-transaction-status', supplierTransactionStatus.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(supplierTransactionStatus)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
