<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceAddresses.home.title">Addresses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-addresses" [routerLink]="['/addresses/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceAddresses.home.createLabel">
            Create a new Addresses
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="addresses?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceAddresses.home.notFound">No addresses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="addresses && addresses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.contactPerson">Contact Person</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.contactNumber">Contact Number</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.contactEmailAddress">Contact Email Address</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.addressLine1">Address Line 1</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.addressLine2">Address Line 2</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.city">City</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.postalCode">Postal Code</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.defaultInd">Default Ind</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.activeInd">Active Ind</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.stateProvince">State Province</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.addressType">Address Type</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceAddresses.person">Person</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let addresses of addresses ;trackBy: trackId">
                    <td><a [routerLink]="['/addresses', addresses.id, 'view']">{{ addresses.id }}</a></td>
                    <td>{{ addresses.contactPerson }}</td>
                    <td>{{ addresses.contactNumber }}</td>
                    <td>{{ addresses.contactEmailAddress }}</td>
                    <td>{{ addresses.addressLine1 }}</td>
                    <td>{{ addresses.addressLine2 }}</td>
                    <td>{{ addresses.city }}</td>
                    <td>{{ addresses.postalCode }}</td>
                    <td>{{ addresses.defaultInd }}</td>
                    <td>{{ addresses.activeInd }}</td>
                    <td>
                        <div *ngIf="addresses.stateProvinceId">
                            <a [routerLink]="['/state-provinces', addresses.stateProvinceId , 'view']" >{{ addresses.stateProvinceName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="addresses.addressTypeId">
                            <a [routerLink]="['/address-types', addresses.addressTypeId , 'view']" >{{ addresses.addressTypeName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="addresses.personId">
                            <a [routerLink]="['/people', addresses.personId , 'view']" >{{ addresses.personId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/addresses', addresses.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/addresses', addresses.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(addresses)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
