<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceDiscount.home.title">Discounts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-discount" [routerLink]="['/discount/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceDiscount.home.createLabel">
            Create a new Discount
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="discounts?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceDiscount.home.notFound">No discounts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="discounts && discounts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceDiscount.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceDiscount.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceDiscount.validFrom">Valid From</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceDiscount.validTo">Valid To</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceDiscount.supplier">Supplier</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceDiscount.discountType">Discount Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let discount of discounts ;trackBy: trackId">
                    <td><a [routerLink]="['/discount', discount.id, 'view']">{{ discount.id }}</a></td>
                    <td>{{ discount.name }}</td>
                    <td>{{ discount.description }}</td>
                    <td>{{ discount.validFrom | date:'medium' }}</td>
                    <td>{{ discount.validTo | date:'medium' }}</td>
                    <td>
                        <div *ngIf="discount.supplierId">
                            <a [routerLink]="['/suppliers', discount.supplierId , 'view']" >{{ discount.supplierName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="discount.discountTypeId">
                            <a [routerLink]="['/discount-types', discount.discountTypeId , 'view']" >{{ discount.discountTypeName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/discount', discount.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/discount', discount.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(discount)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
