<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="discount">
            <h2><span jhiTranslate="gatewayApp.vscommerceDiscount.detail.title">Discount</span> {{ discount.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscount.name">Name</span></dt>
                <dd>
                    <span>{{ discount.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscount.description">Description</span></dt>
                <dd>
                    <span>{{ discount.description }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscount.validFrom">Valid From</span></dt>
                <dd>
                    <span>{{ discount.validFrom }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscount.validTo">Valid To</span></dt>
                <dd>
                    <span>{{ discount.validTo }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscount.supplier">Supplier</span></dt>
                <dd>
                    <div *ngIf="discount.supplierId">
                        <a [routerLink]="['/suppliers', discount.supplierId, 'view']">{{ discount.supplierName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscount.discountType">Discount Type</span></dt>
                <dd>
                    <div *ngIf="discount.discountTypeId">
                        <a [routerLink]="['/discount-types', discount.discountTypeId, 'view']">{{ discount.discountTypeName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/discount', discount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
