<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-suppliers-heading" jhiTranslate="gatewayApp.vscommerceSuppliers.home.createOrEditLabel">Create or edit a Suppliers</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.supplierReference" for="field_supplierReference">Supplier Reference</label>
                    <input type="text" class="form-control" name="supplierReference" id="field_supplierReference"
                           formControlName="supplierReference"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountName" for="field_bankAccountName">Bank Account Name</label>
                    <input type="text" class="form-control" name="bankAccountName" id="field_bankAccountName"
                           formControlName="bankAccountName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountBranch" for="field_bankAccountBranch">Bank Account Branch</label>
                    <input type="text" class="form-control" name="bankAccountBranch" id="field_bankAccountBranch"
                           formControlName="bankAccountBranch"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountCode" for="field_bankAccountCode">Bank Account Code</label>
                    <input type="text" class="form-control" name="bankAccountCode" id="field_bankAccountCode"
                           formControlName="bankAccountCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountNumber" for="field_bankAccountNumber">Bank Account Number</label>
                    <input type="text" class="form-control" name="bankAccountNumber" id="field_bankAccountNumber"
                           formControlName="bankAccountNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.bankInternationalCode" for="field_bankInternationalCode">Bank International Code</label>
                    <input type="text" class="form-control" name="bankInternationalCode" id="field_bankInternationalCode"
                           formControlName="bankInternationalCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.paymentDays" for="field_paymentDays">Payment Days</label>
                    <input type="number" class="form-control" name="paymentDays" id="field_paymentDays"
                           formControlName="paymentDays"/>
                    <div *ngIf="editForm.get('paymentDays')!.invalid && (editForm.get('paymentDays')!.dirty || editForm.get('paymentDays')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentDays')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('paymentDays')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.internalComments" for="field_internalComments">Internal Comments</label>
                    <input type="text" class="form-control" name="internalComments" id="field_internalComments"
                           formControlName="internalComments"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                    <div *ngIf="editForm.get('phoneNumber')!.invalid && (editForm.get('phoneNumber')!.dirty || editForm.get('phoneNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phoneNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.faxNumber" for="field_faxNumber">Fax Number</label>
                    <input type="text" class="form-control" name="faxNumber" id="field_faxNumber"
                           formControlName="faxNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.websiteURL" for="field_websiteURL">Website URL</label>
                    <input type="text" class="form-control" name="websiteURL" id="field_websiteURL"
                           formControlName="websiteURL"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.webServiceUrl" for="field_webServiceUrl">Web Service Url</label>
                    <input type="text" class="form-control" name="webServiceUrl" id="field_webServiceUrl"
                           formControlName="webServiceUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.creditRating" for="field_creditRating">Credit Rating</label>
                    <input type="number" class="form-control" name="creditRating" id="field_creditRating"
                           formControlName="creditRating"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.activeFlag" for="field_activeFlag">Active Flag</label>
                    <input type="checkbox" class="form-control" name="activeFlag" id="field_activeFlag"
                           formControlName="activeFlag"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.thumbnailUrl" for="field_thumbnailUrl">Thumbnail Url</label>
                    <input type="text" class="form-control" name="thumbnailUrl" id="field_thumbnailUrl"
                           formControlName="thumbnailUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.pickupSameAsHeadOffice" for="field_pickupSameAsHeadOffice">Pickup Same As Head Office</label>
                    <input type="checkbox" class="form-control" name="pickupSameAsHeadOffice" id="field_pickupSameAsHeadOffice"
                           formControlName="pickupSameAsHeadOffice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.validFrom" for="field_validFrom">Valid From</label>
                    <div class="d-flex">
                        <input id="field_validFrom" type="datetime-local" class="form-control" name="validFrom" formControlName="validFrom" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('validFrom')!.invalid && (editForm.get('validFrom')!.dirty || editForm.get('validFrom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validFrom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('validFrom')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.validTo" for="field_validTo">Valid To</label>
                    <div class="d-flex">
                        <input id="field_validTo" type="datetime-local" class="form-control" name="validTo" formControlName="validTo" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('validTo')!.invalid && (editForm.get('validTo')!.dirty || editForm.get('validTo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validTo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('validTo')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.people" for="field_people">People</label>
                    <select class="form-control" id="field_people" name="people" formControlName="peopleId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="peopleOption.id" *ngFor="let peopleOption of people; trackBy: trackById">{{ peopleOption.fullName }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.supplierCategory" for="field_supplierCategory">Supplier Category</label>
                    <select class="form-control" id="field_supplierCategory" name="supplierCategory" formControlName="supplierCategoryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="supplierCategoriesOption.id" *ngFor="let supplierCategoriesOption of suppliercategories; trackBy: trackById">{{ supplierCategoriesOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.pickupAddress" for="field_pickupAddress">Pickup Address</label>
                    <select class="form-control" id="field_pickupAddress" name="pickupAddress" formControlName="pickupAddressId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressesOption.id" *ngFor="let addressesOption of addresses; trackBy: trackById">{{ addressesOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceSuppliers.headOfficeAddress" for="field_headOfficeAddress">Head Office Address</label>
                    <select class="form-control" id="field_headOfficeAddress" name="headOfficeAddress" formControlName="headOfficeAddressId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressesOption.id" *ngFor="let addressesOption of addresses; trackBy: trackById">{{ addressesOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="gatewayApp.vscommerceSuppliers.deliveryMethod" for="field_deliveryMethods">Delivery Method</label>
                    <select class="form-control" id="field_deliveryMethods" multiple name="deliveryMethods" formControlName="deliveryMethods">
                        <option [ngValue]="getSelected(editForm.get('deliveryMethods')!.value, deliveryMethodsOption)" *ngFor="let deliveryMethodsOption of deliverymethods; trackBy: trackById">{{ deliveryMethodsOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
