<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceSuppliers.home.title">Suppliers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-suppliers" [routerLink]="['/suppliers/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceSuppliers.home.createLabel">
            Create a new Suppliers
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="suppliers?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceSuppliers.home.notFound">No suppliers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="suppliers && suppliers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.supplierReference">Supplier Reference</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountName">Bank Account Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountBranch">Bank Account Branch</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountCode">Bank Account Code</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountNumber">Bank Account Number</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.bankInternationalCode">Bank International Code</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.paymentDays">Payment Days</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.internalComments">Internal Comments</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.phoneNumber">Phone Number</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.faxNumber">Fax Number</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.websiteURL">Website URL</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.webServiceUrl">Web Service Url</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.creditRating">Credit Rating</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.activeFlag">Active Flag</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.thumbnailUrl">Thumbnail Url</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.pickupSameAsHeadOffice">Pickup Same As Head Office</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.validFrom">Valid From</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.validTo">Valid To</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.people">People</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.supplierCategory">Supplier Category</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.pickupAddress">Pickup Address</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.headOfficeAddress">Head Office Address</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceSuppliers.deliveryMethod">Delivery Method</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let suppliers of suppliers ;trackBy: trackId">
                    <td><a [routerLink]="['/suppliers', suppliers.id, 'view']">{{ suppliers.id }}</a></td>
                    <td>{{ suppliers.name }}</td>
                    <td>{{ suppliers.supplierReference }}</td>
                    <td>{{ suppliers.bankAccountName }}</td>
                    <td>{{ suppliers.bankAccountBranch }}</td>
                    <td>{{ suppliers.bankAccountCode }}</td>
                    <td>{{ suppliers.bankAccountNumber }}</td>
                    <td>{{ suppliers.bankInternationalCode }}</td>
                    <td>{{ suppliers.paymentDays }}</td>
                    <td>{{ suppliers.internalComments }}</td>
                    <td>{{ suppliers.phoneNumber }}</td>
                    <td>{{ suppliers.faxNumber }}</td>
                    <td>{{ suppliers.websiteURL }}</td>
                    <td>{{ suppliers.webServiceUrl }}</td>
                    <td>{{ suppliers.creditRating }}</td>
                    <td>{{ suppliers.activeFlag }}</td>
                    <td>{{ suppliers.thumbnailUrl }}</td>
                    <td>{{ suppliers.pickupSameAsHeadOffice }}</td>
                    <td>{{ suppliers.validFrom | date:'medium' }}</td>
                    <td>{{ suppliers.validTo | date:'medium' }}</td>
                    <td>
                        <div *ngIf="suppliers.peopleId">
                            <a [routerLink]="['/people', suppliers.peopleId , 'view']" >{{ suppliers.peopleFullName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="suppliers.supplierCategoryId">
                            <a [routerLink]="['/supplier-categories', suppliers.supplierCategoryId , 'view']" >{{ suppliers.supplierCategoryName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="suppliers.pickupAddressId">
                            <a [routerLink]="['/addresses', suppliers.pickupAddressId , 'view']" >{{ suppliers.pickupAddressId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="suppliers.headOfficeAddressId">
                            <a [routerLink]="['/addresses', suppliers.headOfficeAddressId , 'view']" >{{ suppliers.headOfficeAddressId }}</a>
                        </div>
                    </td>
                    <td>
                        <span *ngFor="let deliveryMethod of suppliers.deliveryMethods; let last = last">
                            <a class="form-control-static" [routerLink]="['/delivery-methods', deliveryMethod?.id, 'view']">{{ deliveryMethod.name }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/suppliers', suppliers.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/suppliers', suppliers.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(suppliers)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
