<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="suppliers">
            <h2><span jhiTranslate="gatewayApp.vscommerceSuppliers.detail.title">Suppliers</span> {{ suppliers.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.name">Name</span></dt>
                <dd>
                    <span>{{ suppliers.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.supplierReference">Supplier Reference</span></dt>
                <dd>
                    <span>{{ suppliers.supplierReference }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountName">Bank Account Name</span></dt>
                <dd>
                    <span>{{ suppliers.bankAccountName }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountBranch">Bank Account Branch</span></dt>
                <dd>
                    <span>{{ suppliers.bankAccountBranch }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountCode">Bank Account Code</span></dt>
                <dd>
                    <span>{{ suppliers.bankAccountCode }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.bankAccountNumber">Bank Account Number</span></dt>
                <dd>
                    <span>{{ suppliers.bankAccountNumber }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.bankInternationalCode">Bank International Code</span></dt>
                <dd>
                    <span>{{ suppliers.bankInternationalCode }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.paymentDays">Payment Days</span></dt>
                <dd>
                    <span>{{ suppliers.paymentDays }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.internalComments">Internal Comments</span></dt>
                <dd>
                    <span>{{ suppliers.internalComments }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ suppliers.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.faxNumber">Fax Number</span></dt>
                <dd>
                    <span>{{ suppliers.faxNumber }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.websiteURL">Website URL</span></dt>
                <dd>
                    <span>{{ suppliers.websiteURL }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.webServiceUrl">Web Service Url</span></dt>
                <dd>
                    <span>{{ suppliers.webServiceUrl }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.creditRating">Credit Rating</span></dt>
                <dd>
                    <span>{{ suppliers.creditRating }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.activeFlag">Active Flag</span></dt>
                <dd>
                    <span>{{ suppliers.activeFlag }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.thumbnailUrl">Thumbnail Url</span></dt>
                <dd>
                    <span>{{ suppliers.thumbnailUrl }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.pickupSameAsHeadOffice">Pickup Same As Head Office</span></dt>
                <dd>
                    <span>{{ suppliers.pickupSameAsHeadOffice }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.validFrom">Valid From</span></dt>
                <dd>
                    <span>{{ suppliers.validFrom }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.validTo">Valid To</span></dt>
                <dd>
                    <span>{{ suppliers.validTo }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.people">People</span></dt>
                <dd>
                    <div *ngIf="suppliers.peopleId">
                        <a [routerLink]="['/people', suppliers.peopleId, 'view']">{{ suppliers.peopleFullName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.supplierCategory">Supplier Category</span></dt>
                <dd>
                    <div *ngIf="suppliers.supplierCategoryId">
                        <a [routerLink]="['/supplier-categories', suppliers.supplierCategoryId, 'view']">{{ suppliers.supplierCategoryName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.pickupAddress">Pickup Address</span></dt>
                <dd>
                    <div *ngIf="suppliers.pickupAddressId">
                        <a [routerLink]="['/addresses', suppliers.pickupAddressId, 'view']">{{ suppliers.pickupAddressId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.headOfficeAddress">Head Office Address</span></dt>
                <dd>
                    <div *ngIf="suppliers.headOfficeAddressId">
                        <a [routerLink]="['/addresses', suppliers.headOfficeAddressId, 'view']">{{ suppliers.headOfficeAddressId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceSuppliers.deliveryMethod">Delivery Method</span></dt>
                <dd>
                    <span *ngFor="let deliveryMethod of suppliers.deliveryMethods; let last = last">
                        <a [routerLink]="['/delivery-methods', deliveryMethod?.id, 'view']">{{ deliveryMethod.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/suppliers', suppliers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
