<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-customer-payment-credit-card-extended-heading" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCardExtended.home.createOrEditLabel">Create or edit a Customer Payment Credit Card Extended</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCardExtended.errorCode" for="field_errorCode">Error Code</label>
                    <input type="text" class="form-control" name="errorCode" id="field_errorCode"
                           formControlName="errorCode"/>
                    <div *ngIf="editForm.get('errorCode')!.invalid && (editForm.get('errorCode')!.dirty || editForm.get('errorCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('errorCode')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCardExtended.errorMessage" for="field_errorMessage">Error Message</label>
                    <input type="text" class="form-control" name="errorMessage" id="field_errorMessage"
                           formControlName="errorMessage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCardExtended.lastEditedBy" for="field_lastEditedBy">Last Edited By</label>
                    <input type="text" class="form-control" name="lastEditedBy" id="field_lastEditedBy"
                           formControlName="lastEditedBy"/>
                    <div *ngIf="editForm.get('lastEditedBy')!.invalid && (editForm.get('lastEditedBy')!.dirty || editForm.get('lastEditedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastEditedBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCardExtended.lastEditeWhen" for="field_lastEditeWhen">Last Edite When</label>
                    <div class="d-flex">
                        <input id="field_lastEditeWhen" type="datetime-local" class="form-control" name="lastEditeWhen" formControlName="lastEditeWhen" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('lastEditeWhen')!.invalid && (editForm.get('lastEditeWhen')!.dirty || editForm.get('lastEditeWhen')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastEditeWhen')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lastEditeWhen')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
