<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orders">
            <h2><span jhiTranslate="gatewayApp.vscommerceOrders.detail.title">Orders</span> {{ orders.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.orderDate">Order Date</span></dt>
                <dd>
                    <span>{{ orders.orderDate }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.subTotal">Sub Total</span></dt>
                <dd>
                    <span>{{ orders.subTotal }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.totalTaxAmount">Total Tax Amount</span></dt>
                <dd>
                    <span>{{ orders.totalTaxAmount }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.totalShippingFee">Total Shipping Fee</span></dt>
                <dd>
                    <span>{{ orders.totalShippingFee }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.totalShippingFeeDiscount">Total Shipping Fee Discount</span></dt>
                <dd>
                    <span>{{ orders.totalShippingFeeDiscount }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.totalVoucherDiscount">Total Voucher Discount</span></dt>
                <dd>
                    <span>{{ orders.totalVoucherDiscount }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.totalPromtionDiscount">Total Promtion Discount</span></dt>
                <dd>
                    <span>{{ orders.totalPromtionDiscount }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.totalDue">Total Due</span></dt>
                <dd>
                    <span>{{ orders.totalDue }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.paymentStatus">Payment Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'gatewayApp.PaymentStatus.' + orders.paymentStatus }}">{{ orders.paymentStatus }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.customerPurchaseOrderNumber">Customer Purchase Order Number</span></dt>
                <dd>
                    <span>{{ orders.customerPurchaseOrderNumber }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'gatewayApp.OrderStatus.' + orders.status }}">{{ orders.status }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.orderDetails">Order Details</span></dt>
                <dd>
                    <span>{{ orders.orderDetails }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.isUnderSupplyBackOrdered">Is Under Supply Back Ordered</span></dt>
                <dd>
                    <span>{{ orders.isUnderSupplyBackOrdered }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.lastEditedBy">Last Edited By</span></dt>
                <dd>
                    <span>{{ orders.lastEditedBy }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.lastEditedWhen">Last Edited When</span></dt>
                <dd>
                    <span>{{ orders.lastEditedWhen }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="orders.customerId">
                        <a [routerLink]="['/customers', orders.customerId, 'view']">{{ orders.customerName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.shipToAddress">Ship To Address</span></dt>
                <dd>
                    <div *ngIf="orders.shipToAddressId">
                        <a [routerLink]="['/addresses', orders.shipToAddressId, 'view']">{{ orders.shipToAddressId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.billToAddress">Bill To Address</span></dt>
                <dd>
                    <div *ngIf="orders.billToAddressId">
                        <a [routerLink]="['/addresses', orders.billToAddressId, 'view']">{{ orders.billToAddressId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.currencyRate">Currency Rate</span></dt>
                <dd>
                    <div *ngIf="orders.currencyRateId">
                        <a [routerLink]="['/currency-rate', orders.currencyRateId, 'view']">{{ orders.currencyRateId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.paymentMethod">Payment Method</span></dt>
                <dd>
                    <div *ngIf="orders.paymentMethodId">
                        <a [routerLink]="['/payment-methods', orders.paymentMethodId, 'view']">{{ orders.paymentMethodName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.salePerson">Sale Person</span></dt>
                <dd>
                    <div *ngIf="orders.salePersonId">
                        <a [routerLink]="['/people', orders.salePersonId, 'view']">{{ orders.salePersonFullName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceOrders.specialDeals">Special Deals</span></dt>
                <dd>
                    <div *ngIf="orders.specialDealsId">
                        <a [routerLink]="['/special-deals', orders.specialDealsId, 'view']">{{ orders.specialDealsId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/orders', orders.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
