<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-orders-heading" jhiTranslate="gatewayApp.vscommerceOrders.home.createOrEditLabel">Create or edit a Orders</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.orderDate" for="field_orderDate">Order Date</label>
                    <div class="d-flex">
                        <input id="field_orderDate" type="datetime-local" class="form-control" name="orderDate" formControlName="orderDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('orderDate')!.invalid && (editForm.get('orderDate')!.dirty || editForm.get('orderDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('orderDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('orderDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.subTotal" for="field_subTotal">Sub Total</label>
                    <input type="number" class="form-control" name="subTotal" id="field_subTotal"
                           formControlName="subTotal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.totalTaxAmount" for="field_totalTaxAmount">Total Tax Amount</label>
                    <input type="number" class="form-control" name="totalTaxAmount" id="field_totalTaxAmount"
                           formControlName="totalTaxAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.totalShippingFee" for="field_totalShippingFee">Total Shipping Fee</label>
                    <input type="number" class="form-control" name="totalShippingFee" id="field_totalShippingFee"
                           formControlName="totalShippingFee"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.totalShippingFeeDiscount" for="field_totalShippingFeeDiscount">Total Shipping Fee Discount</label>
                    <input type="number" class="form-control" name="totalShippingFeeDiscount" id="field_totalShippingFeeDiscount"
                           formControlName="totalShippingFeeDiscount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.totalVoucherDiscount" for="field_totalVoucherDiscount">Total Voucher Discount</label>
                    <input type="number" class="form-control" name="totalVoucherDiscount" id="field_totalVoucherDiscount"
                           formControlName="totalVoucherDiscount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.totalPromtionDiscount" for="field_totalPromtionDiscount">Total Promtion Discount</label>
                    <input type="number" class="form-control" name="totalPromtionDiscount" id="field_totalPromtionDiscount"
                           formControlName="totalPromtionDiscount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.totalDue" for="field_totalDue">Total Due</label>
                    <input type="number" class="form-control" name="totalDue" id="field_totalDue"
                           formControlName="totalDue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.paymentStatus" for="field_paymentStatus">Payment Status</label>
                    <select class="form-control" name="paymentStatus" formControlName="paymentStatus" id="field_paymentStatus">
                        <option value="CASH_ON_DELIVERY">{{ 'gatewayApp.PaymentStatus.CASH_ON_DELIVERY' | translate }}</option>
                        <option value="PENDING">{{ 'gatewayApp.PaymentStatus.PENDING' | translate }}</option>
                        <option value="PAID">{{ 'gatewayApp.PaymentStatus.PAID' | translate }}</option>
                        <option value="CANCELLED">{{ 'gatewayApp.PaymentStatus.CANCELLED' | translate }}</option>
                        <option value="UNSUCCESSFUL">{{ 'gatewayApp.PaymentStatus.UNSUCCESSFUL' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.customerPurchaseOrderNumber" for="field_customerPurchaseOrderNumber">Customer Purchase Order Number</label>
                    <input type="text" class="form-control" name="customerPurchaseOrderNumber" id="field_customerPurchaseOrderNumber"
                           formControlName="customerPurchaseOrderNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="NEW_ORDER">{{ 'gatewayApp.OrderStatus.NEW_ORDER' | translate }}</option>
                        <option value="COMPLETED">{{ 'gatewayApp.OrderStatus.COMPLETED' | translate }}</option>
                        <option value="PENDING">{{ 'gatewayApp.OrderStatus.PENDING' | translate }}</option>
                        <option value="CANCELLED">{{ 'gatewayApp.OrderStatus.CANCELLED' | translate }}</option>
                        <option value="READY_TO_SHIP">{{ 'gatewayApp.OrderStatus.READY_TO_SHIP' | translate }}</option>
                        <option value="SHIPPED">{{ 'gatewayApp.OrderStatus.SHIPPED' | translate }}</option>
                        <option value="DELIVERED">{{ 'gatewayApp.OrderStatus.DELIVERED' | translate }}</option>
                        <option value="RETURNED">{{ 'gatewayApp.OrderStatus.RETURNED' | translate }}</option>
                        <option value="REFUNDED">{{ 'gatewayApp.OrderStatus.REFUNDED' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.orderDetails" for="field_orderDetails">Order Details</label>
                    <textarea class="form-control" name="orderDetails" id="field_orderDetails"
                              formControlName="orderDetails"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.isUnderSupplyBackOrdered" for="field_isUnderSupplyBackOrdered">Is Under Supply Back Ordered</label>
                    <input type="checkbox" class="form-control" name="isUnderSupplyBackOrdered" id="field_isUnderSupplyBackOrdered"
                           formControlName="isUnderSupplyBackOrdered"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.lastEditedBy" for="field_lastEditedBy">Last Edited By</label>
                    <input type="text" class="form-control" name="lastEditedBy" id="field_lastEditedBy"
                           formControlName="lastEditedBy"/>
                    <div *ngIf="editForm.get('lastEditedBy')!.invalid && (editForm.get('lastEditedBy')!.dirty || editForm.get('lastEditedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastEditedBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.lastEditedWhen" for="field_lastEditedWhen">Last Edited When</label>
                    <div class="d-flex">
                        <input id="field_lastEditedWhen" type="datetime-local" class="form-control" name="lastEditedWhen" formControlName="lastEditedWhen" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('lastEditedWhen')!.invalid && (editForm.get('lastEditedWhen')!.dirty || editForm.get('lastEditedWhen')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastEditedWhen')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lastEditedWhen')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customersOption.id" *ngFor="let customersOption of customers; trackBy: trackById">{{ customersOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.shipToAddress" for="field_shipToAddress">Ship To Address</label>
                    <select class="form-control" id="field_shipToAddress" name="shipToAddress" formControlName="shipToAddressId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressesOption.id" *ngFor="let addressesOption of addresses; trackBy: trackById">{{ addressesOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.billToAddress" for="field_billToAddress">Bill To Address</label>
                    <select class="form-control" id="field_billToAddress" name="billToAddress" formControlName="billToAddressId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressesOption.id" *ngFor="let addressesOption of addresses; trackBy: trackById">{{ addressesOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.currencyRate" for="field_currencyRate">Currency Rate</label>
                    <select class="form-control" id="field_currencyRate" name="currencyRate" formControlName="currencyRateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="currencyRateOption.id" *ngFor="let currencyRateOption of currencyrates; trackBy: trackById">{{ currencyRateOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.paymentMethod" for="field_paymentMethod">Payment Method</label>
                    <select class="form-control" id="field_paymentMethod" name="paymentMethod" formControlName="paymentMethodId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentMethodsOption.id" *ngFor="let paymentMethodsOption of paymentmethods; trackBy: trackById">{{ paymentMethodsOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.salePerson" for="field_salePerson">Sale Person</label>
                    <select class="form-control" id="field_salePerson" name="salePerson" formControlName="salePersonId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="peopleOption.id" *ngFor="let peopleOption of people; trackBy: trackById">{{ peopleOption.fullName }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrders.specialDeals" for="field_specialDeals">Special Deals</label>
                    <select class="form-control" id="field_specialDeals" name="specialDeals" formControlName="specialDealsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="specialDealsOption.id" *ngFor="let specialDealsOption of specialdeals; trackBy: trackById">{{ specialDealsOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
