<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceReceipts.home.title">Receipts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-receipts" [routerLink]="['/receipts/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceReceipts.home.createLabel">
            Create a new Receipts
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="receipts?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceReceipts.home.notFound">No receipts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="receipts && receipts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReceipts.receiptNo">Receipt No</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReceipts.issuedDate">Issued Date</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReceipts.printCount">Print Count</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReceipts.lastEditedBy">Last Edited By</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReceipts.lastEditedWhen">Last Edited When</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReceipts.order">Order</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceReceipts.invoice">Invoice</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let receipts of receipts ;trackBy: trackId">
                    <td><a [routerLink]="['/receipts', receipts.id, 'view']">{{ receipts.id }}</a></td>
                    <td>{{ receipts.receiptNo }}</td>
                    <td>{{ receipts.issuedDate | date:'medium' }}</td>
                    <td>{{ receipts.printCount }}</td>
                    <td>{{ receipts.lastEditedBy }}</td>
                    <td>{{ receipts.lastEditedWhen | date:'medium' }}</td>
                    <td>
                        <div *ngIf="receipts.orderId">
                            <a [routerLink]="['/orders', receipts.orderId , 'view']" >{{ receipts.orderId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="receipts.invoiceId">
                            <a [routerLink]="['/invoices', receipts.invoiceId , 'view']" >{{ receipts.invoiceId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/receipts', receipts.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/receipts', receipts.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(receipts)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
