<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-tracking-heading" jhiTranslate="gatewayApp.vscommerceOrderTracking.home.createOrEditLabel">Create or edit a Order Tracking</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrderTracking.carrierTrackingNumber" for="field_carrierTrackingNumber">Carrier Tracking Number</label>
                    <input type="text" class="form-control" name="carrierTrackingNumber" id="field_carrierTrackingNumber"
                           formControlName="carrierTrackingNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrderTracking.eventDetails" for="field_eventDetails">Event Details</label>
                    <textarea class="form-control" name="eventDetails" id="field_eventDetails"
                              formControlName="eventDetails"></textarea>
                    <div *ngIf="editForm.get('eventDetails')!.invalid && (editForm.get('eventDetails')!.dirty || editForm.get('eventDetails')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('eventDetails')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrderTracking.eventDate" for="field_eventDate">Event Date</label>
                    <div class="d-flex">
                        <input id="field_eventDate" type="datetime-local" class="form-control" name="eventDate" formControlName="eventDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('eventDate')!.invalid && (editForm.get('eventDate')!.dirty || editForm.get('eventDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('eventDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('eventDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrderTracking.order" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" formControlName="orderId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ordersOption.id" *ngFor="let ordersOption of orders; trackBy: trackById">{{ ordersOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceOrderTracking.trackingEvent" for="field_trackingEvent">Tracking Event</label>
                    <select class="form-control" id="field_trackingEvent" name="trackingEvent" formControlName="trackingEventId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="trackingEventOption.id" *ngFor="let trackingEventOption of trackingevents; trackBy: trackById">{{ trackingEventOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
