<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-customer-payment-credit-card-heading" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.home.createOrEditLabel">Create or edit a Customer Payment Credit Card</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.creditCardNumber" for="field_creditCardNumber">Credit Card Number</label>
                    <input type="text" class="form-control" name="creditCardNumber" id="field_creditCardNumber"
                           formControlName="creditCardNumber"/>
                    <div *ngIf="editForm.get('creditCardNumber')!.invalid && (editForm.get('creditCardNumber')!.dirty || editForm.get('creditCardNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('creditCardNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.creditCardExpiryMonth" for="field_creditCardExpiryMonth">Credit Card Expiry Month</label>
                    <input type="number" class="form-control" name="creditCardExpiryMonth" id="field_creditCardExpiryMonth"
                           formControlName="creditCardExpiryMonth"/>
                    <div *ngIf="editForm.get('creditCardExpiryMonth')!.invalid && (editForm.get('creditCardExpiryMonth')!.dirty || editForm.get('creditCardExpiryMonth')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('creditCardExpiryMonth')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('creditCardExpiryMonth')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.creditCardExpiryYear" for="field_creditCardExpiryYear">Credit Card Expiry Year</label>
                    <input type="number" class="form-control" name="creditCardExpiryYear" id="field_creditCardExpiryYear"
                           formControlName="creditCardExpiryYear"/>
                    <div *ngIf="editForm.get('creditCardExpiryYear')!.invalid && (editForm.get('creditCardExpiryYear')!.dirty || editForm.get('creditCardExpiryYear')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('creditCardExpiryYear')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('creditCardExpiryYear')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.batchId" for="field_batchId">Batch Id</label>
                    <input type="text" class="form-control" name="batchId" id="field_batchId"
                           formControlName="batchId"/>
                    <div *ngIf="editForm.get('batchId')!.invalid && (editForm.get('batchId')!.dirty || editForm.get('batchId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('batchId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.responseCode" for="field_responseCode">Response Code</label>
                    <input type="text" class="form-control" name="responseCode" id="field_responseCode"
                           formControlName="responseCode"/>
                    <div *ngIf="editForm.get('responseCode')!.invalid && (editForm.get('responseCode')!.dirty || editForm.get('responseCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('responseCode')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.approvalCode" for="field_approvalCode">Approval Code</label>
                    <input type="text" class="form-control" name="approvalCode" id="field_approvalCode"
                           formControlName="approvalCode"/>
                    <div *ngIf="editForm.get('approvalCode')!.invalid && (editForm.get('approvalCode')!.dirty || editForm.get('approvalCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('approvalCode')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.responseData" for="field_responseData">Response Data</label>
                    <textarea class="form-control" name="responseData" id="field_responseData"
                              formControlName="responseData"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.lastEditedBy" for="field_lastEditedBy">Last Edited By</label>
                    <input type="text" class="form-control" name="lastEditedBy" id="field_lastEditedBy"
                           formControlName="lastEditedBy"/>
                    <div *ngIf="editForm.get('lastEditedBy')!.invalid && (editForm.get('lastEditedBy')!.dirty || editForm.get('lastEditedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastEditedBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.lastEditedWhen" for="field_lastEditedWhen">Last Edited When</label>
                    <div class="d-flex">
                        <input id="field_lastEditedWhen" type="datetime-local" class="form-control" name="lastEditedWhen" formControlName="lastEditedWhen" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('lastEditedWhen')!.invalid && (editForm.get('lastEditedWhen')!.dirty || editForm.get('lastEditedWhen')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastEditedWhen')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lastEditedWhen')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.customerPayment" for="field_customerPayment">Customer Payment</label>
                    <select class="form-control" id="field_customerPayment" name="customerPayment" formControlName="customerPaymentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerPaymentOption.id" *ngFor="let customerPaymentOption of customerpayments; trackBy: trackById">{{ customerPaymentOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCustomerPaymentCreditCard.currency" for="field_currency">Currency</label>
                    <select class="form-control" id="field_currency" name="currency" formControlName="currencyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackById">{{ currencyOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
