<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shopping-carts-heading" jhiTranslate="gatewayApp.vscommerceShoppingCarts.home.createOrEditLabel">Create or edit a Shopping Carts</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.totalPrice" for="field_totalPrice">Total Price</label>
                    <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                           formControlName="totalPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.subTotalPrice" for="field_subTotalPrice">Sub Total Price</label>
                    <input type="number" class="form-control" name="subTotalPrice" id="field_subTotalPrice"
                           formControlName="subTotalPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.totalShippingFee" for="field_totalShippingFee">Total Shipping Fee</label>
                    <input type="number" class="form-control" name="totalShippingFee" id="field_totalShippingFee"
                           formControlName="totalShippingFee"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.totalShippingFeeDiscount" for="field_totalShippingFeeDiscount">Total Shipping Fee Discount</label>
                    <input type="number" class="form-control" name="totalShippingFeeDiscount" id="field_totalShippingFeeDiscount"
                           formControlName="totalShippingFeeDiscount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.promotionTotal" for="field_promotionTotal">Promotion Total</label>
                    <input type="number" class="form-control" name="promotionTotal" id="field_promotionTotal"
                           formControlName="promotionTotal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.voucherTotal" for="field_voucherTotal">Voucher Total</label>
                    <input type="number" class="form-control" name="voucherTotal" id="field_voucherTotal"
                           formControlName="voucherTotal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.packageDetails" for="field_packageDetails">Package Details</label>
                    <textarea class="form-control" name="packageDetails" id="field_packageDetails"
                              formControlName="packageDetails"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.cartString" for="field_cartString">Cart String</label>
                    <textarea class="form-control" name="cartString" id="field_cartString"
                              formControlName="cartString"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.dealString" for="field_dealString">Deal String</label>
                    <textarea class="form-control" name="dealString" id="field_dealString"
                              formControlName="dealString"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.lastEditedBy" for="field_lastEditedBy">Last Edited By</label>
                    <input type="text" class="form-control" name="lastEditedBy" id="field_lastEditedBy"
                           formControlName="lastEditedBy"/>
                    <div *ngIf="editForm.get('lastEditedBy')!.invalid && (editForm.get('lastEditedBy')!.dirty || editForm.get('lastEditedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastEditedBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.lastEditedWhen" for="field_lastEditedWhen">Last Edited When</label>
                    <div class="d-flex">
                        <input id="field_lastEditedWhen" type="datetime-local" class="form-control" name="lastEditedWhen" formControlName="lastEditedWhen" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('lastEditedWhen')!.invalid && (editForm.get('lastEditedWhen')!.dirty || editForm.get('lastEditedWhen')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastEditedWhen')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lastEditedWhen')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.cartUser" for="field_cartUser">Cart User</label>
                    <select class="form-control" id="field_cartUser" name="cartUser" formControlName="cartUserId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="peopleOption.id" *ngFor="let peopleOption of cartusers; trackBy: trackById">{{ peopleOption.fullName }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customersOption.id" *ngFor="let customersOption of customers; trackBy: trackById">{{ customersOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceShoppingCarts.specialDeals" for="field_specialDeals">Special Deals</label>
                    <select class="form-control" id="field_specialDeals" name="specialDeals" formControlName="specialDealsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="specialDealsOption.id" *ngFor="let specialDealsOption of specialdeals; trackBy: trackById">{{ specialDealsOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
