<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceShoppingCarts.home.title">Shopping Carts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-carts" [routerLink]="['/shopping-carts/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceShoppingCarts.home.createLabel">
            Create a new Shopping Carts
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shoppingCarts?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceShoppingCarts.home.notFound">No shoppingCarts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shoppingCarts && shoppingCarts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.totalPrice">Total Price</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.subTotalPrice">Sub Total Price</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.totalShippingFee">Total Shipping Fee</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.totalShippingFeeDiscount">Total Shipping Fee Discount</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.promotionTotal">Promotion Total</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.voucherTotal">Voucher Total</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.packageDetails">Package Details</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.cartString">Cart String</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.dealString">Deal String</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.lastEditedBy">Last Edited By</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.lastEditedWhen">Last Edited When</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.cartUser">Cart User</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.customer">Customer</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.specialDeals">Special Deals</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shoppingCarts of shoppingCarts ;trackBy: trackId">
                    <td><a [routerLink]="['/shopping-carts', shoppingCarts.id, 'view']">{{ shoppingCarts.id }}</a></td>
                    <td>{{ shoppingCarts.totalPrice }}</td>
                    <td>{{ shoppingCarts.subTotalPrice }}</td>
                    <td>{{ shoppingCarts.totalShippingFee }}</td>
                    <td>{{ shoppingCarts.totalShippingFeeDiscount }}</td>
                    <td>{{ shoppingCarts.promotionTotal }}</td>
                    <td>{{ shoppingCarts.voucherTotal }}</td>
                    <td>{{ shoppingCarts.packageDetails }}</td>
                    <td>{{ shoppingCarts.cartString }}</td>
                    <td>{{ shoppingCarts.dealString }}</td>
                    <td>{{ shoppingCarts.lastEditedBy }}</td>
                    <td>{{ shoppingCarts.lastEditedWhen | date:'medium' }}</td>
                    <td>
                        <div *ngIf="shoppingCarts.cartUserId">
                            <a [routerLink]="['/people', shoppingCarts.cartUserId , 'view']" >{{ shoppingCarts.cartUserFullName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shoppingCarts.customerId">
                            <a [routerLink]="['/customers', shoppingCarts.customerId , 'view']" >{{ shoppingCarts.customerName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shoppingCarts.specialDealsId">
                            <a [routerLink]="['/special-deals', shoppingCarts.specialDealsId , 'view']" >{{ shoppingCarts.specialDealsId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shopping-carts', shoppingCarts.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shopping-carts', shoppingCarts.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shoppingCarts)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
