<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingCarts">
            <h2><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.detail.title">Shopping Carts</span> {{ shoppingCarts.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.totalPrice">Total Price</span></dt>
                <dd>
                    <span>{{ shoppingCarts.totalPrice }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.subTotalPrice">Sub Total Price</span></dt>
                <dd>
                    <span>{{ shoppingCarts.subTotalPrice }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.totalShippingFee">Total Shipping Fee</span></dt>
                <dd>
                    <span>{{ shoppingCarts.totalShippingFee }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.totalShippingFeeDiscount">Total Shipping Fee Discount</span></dt>
                <dd>
                    <span>{{ shoppingCarts.totalShippingFeeDiscount }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.promotionTotal">Promotion Total</span></dt>
                <dd>
                    <span>{{ shoppingCarts.promotionTotal }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.voucherTotal">Voucher Total</span></dt>
                <dd>
                    <span>{{ shoppingCarts.voucherTotal }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.packageDetails">Package Details</span></dt>
                <dd>
                    <span>{{ shoppingCarts.packageDetails }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.cartString">Cart String</span></dt>
                <dd>
                    <span>{{ shoppingCarts.cartString }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.dealString">Deal String</span></dt>
                <dd>
                    <span>{{ shoppingCarts.dealString }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.lastEditedBy">Last Edited By</span></dt>
                <dd>
                    <span>{{ shoppingCarts.lastEditedBy }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.lastEditedWhen">Last Edited When</span></dt>
                <dd>
                    <span>{{ shoppingCarts.lastEditedWhen }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.cartUser">Cart User</span></dt>
                <dd>
                    <div *ngIf="shoppingCarts.cartUserId">
                        <a [routerLink]="['/people', shoppingCarts.cartUserId, 'view']">{{ shoppingCarts.cartUserFullName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="shoppingCarts.customerId">
                        <a [routerLink]="['/customers', shoppingCarts.customerId, 'view']">{{ shoppingCarts.customerName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceShoppingCarts.specialDeals">Special Deals</span></dt>
                <dd>
                    <div *ngIf="shoppingCarts.specialDealsId">
                        <a [routerLink]="['/special-deals', shoppingCarts.specialDealsId, 'view']">{{ shoppingCarts.specialDealsId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-carts', shoppingCarts.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
