<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.home.title">Customer Transactions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer-transactions" [routerLink]="['/customer-transactions/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceCustomerTransactions.home.createLabel">
            Create a new Customer Transactions
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="customerTransactions?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.home.notFound">No customerTransactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="customerTransactions && customerTransactions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.transactionDate">Transaction Date</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.amountExcludingTax">Amount Excluding Tax</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.taxAmount">Tax Amount</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.transactionAmount">Transaction Amount</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.outstandingBalance">Outstanding Balance</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.finalizationDate">Finalization Date</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.isFinalized">Is Finalized</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.lastEditedBy">Last Edited By</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.lastEditedWhen">Last Edited When</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.order">Order</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.customer">Customer</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.paymentMethod">Payment Method</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.transactionType">Transaction Type</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerTransactions.invoice">Invoice</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customerTransactions of customerTransactions ;trackBy: trackId">
                    <td><a [routerLink]="['/customer-transactions', customerTransactions.id, 'view']">{{ customerTransactions.id }}</a></td>
                    <td>{{ customerTransactions.transactionDate | date:'medium' }}</td>
                    <td>{{ customerTransactions.amountExcludingTax }}</td>
                    <td>{{ customerTransactions.taxAmount }}</td>
                    <td>{{ customerTransactions.transactionAmount }}</td>
                    <td>{{ customerTransactions.outstandingBalance }}</td>
                    <td>{{ customerTransactions.finalizationDate | date:'medium' }}</td>
                    <td>{{ customerTransactions.isFinalized }}</td>
                    <td>{{ customerTransactions.lastEditedBy }}</td>
                    <td>{{ customerTransactions.lastEditedWhen | date:'medium' }}</td>
                    <td>
                        <div *ngIf="customerTransactions.orderId">
                            <a [routerLink]="['/orders', customerTransactions.orderId , 'view']" >{{ customerTransactions.orderId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="customerTransactions.customerId">
                            <a [routerLink]="['/customers', customerTransactions.customerId , 'view']" >{{ customerTransactions.customerId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="customerTransactions.paymentMethodId">
                            <a [routerLink]="['/payment-methods', customerTransactions.paymentMethodId , 'view']" >{{ customerTransactions.paymentMethodId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="customerTransactions.transactionTypeId">
                            <a [routerLink]="['/transaction-types', customerTransactions.transactionTypeId , 'view']" >{{ customerTransactions.transactionTypeName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="customerTransactions.invoiceId">
                            <a [routerLink]="['/invoices', customerTransactions.invoiceId , 'view']" >{{ customerTransactions.invoiceId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/customer-transactions', customerTransactions.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/customer-transactions', customerTransactions.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(customerTransactions)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
