<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="discountTypes">
            <h2><span jhiTranslate="gatewayApp.vscommerceDiscountTypes.detail.title">Discount Types</span> {{ discountTypes.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountTypes.name">Name</span></dt>
                <dd>
                    <span>{{ discountTypes.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountTypes.modifiedDate">Modified Date</span></dt>
                <dd>
                    <span>{{ discountTypes.modifiedDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/discount-types', discountTypes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
