<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceCustomerPaymentBankTransfer.home.title">Customer Payment Bank Transfers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer-payment-bank-transfer" [routerLink]="['/customer-payment-bank-transfer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceCustomerPaymentBankTransfer.home.createLabel">
            Create a new Customer Payment Bank Transfer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="customerPaymentBankTransfers?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceCustomerPaymentBankTransfer.home.notFound">No customerPaymentBankTransfers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="customerPaymentBankTransfers && customerPaymentBankTransfers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerPaymentBankTransfer.receiptImageUrl">Receipt Image Url</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerPaymentBankTransfer.nameInBankAccount">Name In Bank Account</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerPaymentBankTransfer.dateOfTransfer">Date Of Transfer</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerPaymentBankTransfer.amountTransferred">Amount Transferred</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerPaymentBankTransfer.lastEdityBy">Last Edity By</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerPaymentBankTransfer.lastEditedWhen">Last Edited When</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerPaymentBankTransfer.customerPayment">Customer Payment</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCustomerPaymentBankTransfer.currency">Currency</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customerPaymentBankTransfer of customerPaymentBankTransfers ;trackBy: trackId">
                    <td><a [routerLink]="['/customer-payment-bank-transfer', customerPaymentBankTransfer.id, 'view']">{{ customerPaymentBankTransfer.id }}</a></td>
                    <td>{{ customerPaymentBankTransfer.receiptImageUrl }}</td>
                    <td>{{ customerPaymentBankTransfer.nameInBankAccount }}</td>
                    <td>{{ customerPaymentBankTransfer.dateOfTransfer | date:'medium' }}</td>
                    <td>{{ customerPaymentBankTransfer.amountTransferred }}</td>
                    <td>{{ customerPaymentBankTransfer.lastEdityBy }}</td>
                    <td>{{ customerPaymentBankTransfer.lastEditedWhen | date:'medium' }}</td>
                    <td>
                        <div *ngIf="customerPaymentBankTransfer.customerPaymentId">
                            <a [routerLink]="['/customer-payment', customerPaymentBankTransfer.customerPaymentId , 'view']" >{{ customerPaymentBankTransfer.customerPaymentId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="customerPaymentBankTransfer.currencyId">
                            <a [routerLink]="['/currency', customerPaymentBankTransfer.currencyId , 'view']" >{{ customerPaymentBankTransfer.currencyName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/customer-payment-bank-transfer', customerPaymentBankTransfer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/customer-payment-bank-transfer', customerPaymentBankTransfer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(customerPaymentBankTransfer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
