<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span jhiTranslate="global.title" class="navbar-title">Gateway</span> <span class="navbar-version">{{ version }}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li>
                        <a class="dropdown-item" routerLink="images" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.cloudblobImages">Images</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="address-types" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceAddressTypes">Address Types</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="culture" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCulture">Culture</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tax" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceTax">Tax</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tax-class" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceTaxClass">Tax Class</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="addresses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceAddresses">Addresses</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="business-entity-address" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceBusinessEntityAddress">Business Entity Address</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="business-entity-contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceBusinessEntityContact">Business Entity Contact</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="person-email-address" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommercePersonEmailAddress">Person Email Address</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="person-phone" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommercePersonPhone">Person Phone</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="phone-number-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommercePhoneNumberType">Phone Number Type</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="contact-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceContactType">Contact Type</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="countries" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCountries">Countries</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="state-provinces" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceStateProvinces">State Provinces</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cities" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCities">Cities</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="zone" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceZone">Zone</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="system-parameters" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceSystemParameters">System Parameters</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="transaction-types" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceTransactionTypes">Transaction Types</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="people" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommercePeople">People</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="delivery-methods" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceDeliveryMethods">Delivery Methods</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="supplier-categories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceSupplierCategories">Supplier Categories</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="suppliers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceSuppliers">Suppliers</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="supplier-transactions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceSupplierTransactions">Supplier Transactions</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="supplier-transaction-status" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceSupplierTransactionStatus">Supplier Transaction Status</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="currency-rate" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCurrencyRate">Currency Rate</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="purchase-orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommercePurchaseOrders">Purchase Orders</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="purchase-order-lines" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommercePurchaseOrderLines">Purchase Order Lines</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="buying-groups" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceBuyingGroups">Buying Groups</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="customer-categories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCustomerCategories">Customer Categories</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="customers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCustomers">Customers</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="customer-payment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCustomerPayment">Customer Payment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="customer-payment-credit-card" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCustomerPaymentCreditCard">Customer Payment Credit Card</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="customer-payment-credit-card-extended" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCustomerPaymentCreditCardExtended">Customer Payment Credit Card Extended</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="customer-payment-voucher" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCustomerPaymentVoucher">Customer Payment Voucher</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="customer-payment-bank-transfer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCustomerPaymentBankTransfer">Customer Payment Bank Transfer</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="customer-payment-paypal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCustomerPaymentPaypal">Customer Payment Paypal</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="customer-transactions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCustomerTransactions">Customer Transactions</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="invoice-lines" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceInvoiceLines">Invoice Lines</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="invoices" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceInvoices">Invoices</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="receipts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceReceipts">Receipts</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="payment-methods" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommercePaymentMethods">Payment Methods</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="bank-accounts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceBankAccounts">Bank Accounts</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cards" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCards">Cards</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="card-type-credit-cards" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCardTypeCreditCards">Card Type Credit Cards</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="card-types" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCardTypes">Card Types</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="credit-card-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCreditCardType">Credit Card Type</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="order-lines" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceOrderLines">Order Lines</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceOrders">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="order-packages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceOrderPackages">Order Packages</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="order-tracking" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceOrderTracking">Order Tracking</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tracking-event" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceTrackingEvent">Tracking Event</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="special-deals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceSpecialDeals">Special Deals</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="discount-types" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceDiscountTypes">Discount Types</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="discount" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceDiscount">Discount</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="discount-details" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceDiscountDetails">Discount Details</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cold-room-temperatures" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceColdRoomTemperatures">Cold Room Temperatures</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="package-types" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommercePackageTypes">Package Types</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProducts">Products</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-list-price-history" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductListPriceHistory">Product List Price History</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="barcode-types" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceBarcodeTypes">Barcode Types</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="stock-items" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceStockItems">Stock Items</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="upload-transactions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceUploadTransactions">Upload Transactions</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="upload-action-types" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceUploadActionTypes">Upload Action Types</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="stock-item-transactions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceStockItemTransactions">Stock Item Transactions</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="warranty-types" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceWarrantyTypes">Warranty Types</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-attribute" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductAttribute">Product Attribute</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-attribute-set" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductAttributeSet">Product Attribute Set</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-option" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductOption">Product Option</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-option-set" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductOptionSet">Product Option Set</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-choice" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductChoice">Product Choice</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-set" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductSet">Product Set</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-set-details" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductSetDetails">Product Set Details</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-set-detail-price" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductSetDetailPrice">Product Set Detail Price</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-document" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductDocument">Product Document</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="materials" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceMaterials">Materials</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-brand" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductBrand">Product Brand</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductCategory">Product Category</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="campaign" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCampaign">Campaign</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-catalog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductCatalog">Product Catalog</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="currency" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCurrency">Currency</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="photos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommercePhotos">Photos</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="unit-measure" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceUnitMeasure">Unit Measure</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="vehicle-temperatures" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceVehicleTemperatures">Vehicle Temperatures</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="shopping-carts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceShoppingCarts">Shopping Carts</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="shopping-cart-items" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceShoppingCartItems">Shopping Cart Items</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="wishlists" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceWishlists">Wishlists</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="wishlist-lines" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceWishlistLines">Wishlist Lines</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="compares" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCompares">Compares</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="compare-lines" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceCompareLines">Compare Lines</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="questions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceQuestions">Questions</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="product-tags" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceProductTags">Product Tags</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logistics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceLogistics">Logistics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="shipping-fee-chart" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vscommerceShippingFeeChart">Shipping Fee Chart</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/gateway" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="road" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.gateway">Gateway</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/tracker" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="eye" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="bell" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{ language | findLanguageFromKey }}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span *ngIf="!getImageUrl()">
                        <fa-icon icon="user"></fa-icon>
                        <span jhiTranslate="global.menu.account.main">
                            Account
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
