<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-list-price-history-heading" jhiTranslate="gatewayApp.vscommerceProductListPriceHistory.home.createOrEditLabel">Create or edit a Product List Price History</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceProductListPriceHistory.startDate" for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('startDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceProductListPriceHistory.endDate" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceProductListPriceHistory.listPrice" for="field_listPrice">List Price</label>
                    <input type="number" class="form-control" name="listPrice" id="field_listPrice"
                           formControlName="listPrice"/>
                    <div *ngIf="editForm.get('listPrice')!.invalid && (editForm.get('listPrice')!.dirty || editForm.get('listPrice')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('listPrice')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('listPrice')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceProductListPriceHistory.modifiedDate" for="field_modifiedDate">Modified Date</label>
                    <div class="d-flex">
                        <input id="field_modifiedDate" type="datetime-local" class="form-control" name="modifiedDate" formControlName="modifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('modifiedDate')!.invalid && (editForm.get('modifiedDate')!.dirty || editForm.get('modifiedDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('modifiedDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('modifiedDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceProductListPriceHistory.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" formControlName="productId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productsOption.id" *ngFor="let productsOption of products; trackBy: trackById">{{ productsOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
