<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceCreditCardType.home.title">Credit Card Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-credit-card-type" [routerLink]="['/credit-card-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceCreditCardType.home.createLabel">
            Create a new Credit Card Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="creditCardTypes?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceCreditCardType.home.notFound">No creditCardTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="creditCardTypes && creditCardTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCreditCardType.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceCreditCardType.modifiedDate">Modified Date</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let creditCardType of creditCardTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/credit-card-type', creditCardType.id, 'view']">{{ creditCardType.id }}</a></td>
                    <td>{{ creditCardType.name }}</td>
                    <td>{{ creditCardType.modifiedDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/credit-card-type', creditCardType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/credit-card-type', creditCardType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(creditCardType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
