<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-discount-details-heading" jhiTranslate="gatewayApp.vscommerceDiscountDetails.home.createOrEditLabel">Create or edit a Discount Details</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.isPercentage" for="field_isPercentage">Is Percentage</label>
                    <input type="checkbox" class="form-control" name="isPercentage" id="field_isPercentage"
                           formControlName="isPercentage"/>
                    <div *ngIf="editForm.get('isPercentage')!.invalid && (editForm.get('isPercentage')!.dirty || editForm.get('isPercentage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isPercentage')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.isAllowCombinationDiscount" for="field_isAllowCombinationDiscount">Is Allow Combination Discount</label>
                    <input type="checkbox" class="form-control" name="isAllowCombinationDiscount" id="field_isAllowCombinationDiscount"
                           formControlName="isAllowCombinationDiscount"/>
                    <div *ngIf="editForm.get('isAllowCombinationDiscount')!.invalid && (editForm.get('isAllowCombinationDiscount')!.dirty || editForm.get('isAllowCombinationDiscount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isAllowCombinationDiscount')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.isFinalBillDiscount" for="field_isFinalBillDiscount">Is Final Bill Discount</label>
                    <input type="checkbox" class="form-control" name="isFinalBillDiscount" id="field_isFinalBillDiscount"
                           formControlName="isFinalBillDiscount"/>
                    <div *ngIf="editForm.get('isFinalBillDiscount')!.invalid && (editForm.get('isFinalBillDiscount')!.dirty || editForm.get('isFinalBillDiscount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isFinalBillDiscount')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.startCount" for="field_startCount">Start Count</label>
                    <input type="number" class="form-control" name="startCount" id="field_startCount"
                           formControlName="startCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.endCount" for="field_endCount">End Count</label>
                    <input type="number" class="form-control" name="endCount" id="field_endCount"
                           formControlName="endCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.multiplyCount" for="field_multiplyCount">Multiply Count</label>
                    <input type="number" class="form-control" name="multiplyCount" id="field_multiplyCount"
                           formControlName="multiplyCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.minAmount" for="field_minAmount">Min Amount</label>
                    <input type="number" class="form-control" name="minAmount" id="field_minAmount"
                           formControlName="minAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.maxAmount" for="field_maxAmount">Max Amount</label>
                    <input type="number" class="form-control" name="maxAmount" id="field_maxAmount"
                           formControlName="maxAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.minVolumeWeight" for="field_minVolumeWeight">Min Volume Weight</label>
                    <input type="number" class="form-control" name="minVolumeWeight" id="field_minVolumeWeight"
                           formControlName="minVolumeWeight"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.maxVolumeWeight" for="field_maxVolumeWeight">Max Volume Weight</label>
                    <input type="number" class="form-control" name="maxVolumeWeight" id="field_maxVolumeWeight"
                           formControlName="maxVolumeWeight"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.modifiedDate" for="field_modifiedDate">Modified Date</label>
                    <div class="d-flex">
                        <input id="field_modifiedDate" type="datetime-local" class="form-control" name="modifiedDate" formControlName="modifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('modifiedDate')!.invalid && (editForm.get('modifiedDate')!.dirty || editForm.get('modifiedDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('modifiedDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('modifiedDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.discount" for="field_discount">Discount</label>
                    <select class="form-control" id="field_discount" name="discount" formControlName="discountId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="discountOption.id" *ngFor="let discountOption of discounts; trackBy: trackById">{{ discountOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.stockItem" for="field_stockItem">Stock Item</label>
                    <select class="form-control" id="field_stockItem" name="stockItem" formControlName="stockItemId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stockItemsOption.id" *ngFor="let stockItemsOption of stockitems; trackBy: trackById">{{ stockItemsOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceDiscountDetails.productCategory" for="field_productCategory">Product Category</label>
                    <select class="form-control" id="field_productCategory" name="productCategory" formControlName="productCategoryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productCategoryOption.id" *ngFor="let productCategoryOption of productcategories; trackBy: trackById">{{ productCategoryOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
