<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="discountDetails">
            <h2><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.detail.title">Discount Details</span> {{ discountDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.amount">Amount</span></dt>
                <dd>
                    <span>{{ discountDetails.amount }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.isPercentage">Is Percentage</span></dt>
                <dd>
                    <span>{{ discountDetails.isPercentage }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.isAllowCombinationDiscount">Is Allow Combination Discount</span></dt>
                <dd>
                    <span>{{ discountDetails.isAllowCombinationDiscount }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.isFinalBillDiscount">Is Final Bill Discount</span></dt>
                <dd>
                    <span>{{ discountDetails.isFinalBillDiscount }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.name">Name</span></dt>
                <dd>
                    <span>{{ discountDetails.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.startCount">Start Count</span></dt>
                <dd>
                    <span>{{ discountDetails.startCount }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.endCount">End Count</span></dt>
                <dd>
                    <span>{{ discountDetails.endCount }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.multiplyCount">Multiply Count</span></dt>
                <dd>
                    <span>{{ discountDetails.multiplyCount }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.modifiedDate">Modified Date</span></dt>
                <dd>
                    <span>{{ discountDetails.modifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.discount">Discount</span></dt>
                <dd>
                    <div *ngIf="discountDetails.discountId">
                        <a [routerLink]="['/discount', discountDetails.discountId, 'view']">{{ discountDetails.discountName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.product">Product</span></dt>
                <dd>
                    <div *ngIf="discountDetails.productId">
                        <a [routerLink]="['/products', discountDetails.productId, 'view']">{{ discountDetails.productName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.vscommerceDiscountDetails.productCategory">Product Category</span></dt>
                <dd>
                    <div *ngIf="discountDetails.productCategoryId">
                        <a [routerLink]="['/product-category', discountDetails.productCategoryId, 'view']">{{ discountDetails.productCategoryName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/discount-details', discountDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
