<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommercePaymentMethods.home.title">Payment Methods</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-methods" [routerLink]="['/payment-methods/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommercePaymentMethods.home.createLabel">
            Create a new Payment Methods
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paymentMethods?.length === 0">
        <span jhiTranslate="gatewayApp.vscommercePaymentMethods.home.notFound">No paymentMethods found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paymentMethods && paymentMethods.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommercePaymentMethods.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommercePaymentMethods.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommercePaymentMethods.activeInd">Active Ind</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommercePaymentMethods.iconFont">Icon Font</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommercePaymentMethods.icon">Icon</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paymentMethods of paymentMethods ;trackBy: trackId">
                    <td><a [routerLink]="['/payment-methods', paymentMethods.id, 'view']">{{ paymentMethods.id }}</a></td>
                    <td>{{ paymentMethods.name }}</td>
                    <td>{{ paymentMethods.code }}</td>
                    <td>{{ paymentMethods.activeInd }}</td>
                    <td>{{ paymentMethods.iconFont }}</td>
                    <td>
                        <div *ngIf="paymentMethods.iconId">
                            <a [routerLink]="['/photos', paymentMethods.iconId , 'view']" >{{ paymentMethods.iconThumbnailUrl }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/payment-methods', paymentMethods.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/payment-methods', paymentMethods.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paymentMethods)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
