<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.vscommerceTax.home.title">Taxes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tax" [routerLink]="['/tax/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.vscommerceTax.home.createLabel">
            Create a new Tax
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="taxes?.length === 0">
        <span jhiTranslate="gatewayApp.vscommerceTax.home.notFound">No taxes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="taxes && taxes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceTax.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceTax.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceTax.rate">Rate</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceTax.modifiedDate">Modified Date</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.vscommerceTax.taxClass">Tax Class</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tax of taxes ;trackBy: trackId">
                    <td><a [routerLink]="['/tax', tax.id, 'view']">{{ tax.id }}</a></td>
                    <td>{{ tax.code }}</td>
                    <td>{{ tax.name }}</td>
                    <td>{{ tax.rate }}</td>
                    <td>{{ tax.modifiedDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="tax.taxClassId">
                            <a [routerLink]="['/tax-class', tax.taxClassId , 'view']" >{{ tax.taxClassName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tax', tax.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tax', tax.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tax)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
