<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-compare-lines-heading" jhiTranslate="gatewayApp.vscommerceCompareLines.home.createOrEditLabel">Create or edit a Compare Lines</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCompareLines.stockItem" for="field_stockItem">Stock Item</label>
                    <select class="form-control" id="field_stockItem" name="stockItem" formControlName="stockItemId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stockItemsOption.id" *ngFor="let stockItemsOption of stockitems; trackBy: trackById">{{ stockItemsOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.vscommerceCompareLines.compare" for="field_compare">Compare</label>
                    <select class="form-control" id="field_compare" name="compare" formControlName="compareId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="comparesOption.id" *ngFor="let comparesOption of compares; trackBy: trackById">{{ comparesOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
